---
layout: default
title: ligangty.github.com
---

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h3>posts</h3>
        <ul>
          {% for post in site.posts %}
          <li>{{ post.date | date_to_string }} {{ post.id }} <a href="{{ post.url }}">{{ post.title }}</a>{{ post.categories }}</li>
          {% endfor %}
        </ul>
      </section>
   </div>
   <div id="main_content_wrap" class="outer">
     <section id="main_content" class="inner">
       <h3>all pages</h3>
       <ul>
         {% for pa in site.pages %}
         <li>{{ pa.id }}<a href="{{ pa.url }}">{{ pa.title }}</a>{{ pa.categories }}</li>
         {% endfor %}
       </ul>
     </section>
  </div>
　　<div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h3><p><a href="./notes/index.html">My Notes</a></p></h3>
      </section>
   </div>
   <div id="main_content_wrap" class="outer">
     <section id="main_content" class="inner">
       <h3><p><a href="./docs/index.html">My Docs</a></p></h3>
     </section>
   </div>
